@import "./reset&vars";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

body {
	background-color: $main-1-bg;
	font-family: "League Spartan", sans-serif;
	margin: 20px 20px;
}
nav {
	color: $text-nav-1;
	display: flex;
	justify-content: space-between;
	align-items: center;

	> div {
		> p {
			font-size: 32px;
		}
	}
}

ul {
	list-style-type: none;
	padding: 0 7px;
	font-size: 13px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.theme-toggle {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}
